*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.parent-div {
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.parent-div::before,
.parent-div::after {
    /* border-radius: 50%; */
    position: absolute;
    content: '';
    background-color: blue;
    height: 100px;
    width: 5px;
    transform-origin: center calc(100% - 10px);
    top: calc(50% - 100px);
    animation: ClockRunning 3600s infinite linear;
}

.parent-div::after {
    /* border-radius: 50%; */
    background-color: lime;
    height: 150px;
    width: 5px;
    top: calc(50% - 150px);
    animation: ClockRunning 60s infinite linear;
}


.child {
    /* position: absolute; */
    display: flex;
    justify-self: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    /* border-radius: 50%; */
    /* border-radius: 50%; */
    background: #000000;
    box-shadow: inset 32px 32px 64px #494b48,
        inset -32px -32px 64px #453e3e;
    /* top: 20% */

}

.child::before {
    /* border-radius: 50%; */
    position: absolute;
    content: '';
    background-color: rgb(255, 247, 0);
    height: 50px;
    width: 5px;
    transform-origin: center calc(100%);
    top: calc(50% - 50px);
    right: calc(50%);
    animation: ClockRunning 43200s infinite linear;
}

@keyframes ClockRunning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
